.estoque-header {
  display: grid;
  width: 800px;
  grid-template-columns: 175px 175px 175px 175px 50px;
  align-items: center;
  background-color: #2E86AB;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 0 auto;
}

.header-col {
  padding: 5px 10px;
}
