@import "tailwindcss";

body {
  background-color: #b9b3b3;
}

@theme {
  /*Cores */
  --color-cinza: #b9b3b3;
  --color-preto: #000000;
  --color-branco: #FFFFFF;
  --color-azul: #2E86AB;

  --font: 'Inter';

  
}